@use '../../styles/mixin.scss' as *;


.navigation {
  display: flex;
}

.sidebarNavigation {
  .navigation__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    gap: 16px;

    @include on-desktop {
      gap: 32px;
    }
  }
}

.footerNavigation {
  display: flex;

  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 8px;
  }
}
