.navigation {
  display: flex;
}

.sidebarNavigation {
  display: flex;

  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.footerNavigation {
  display: flex;

  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 8px;
  }
}
