.navigation {
  display: flex;
}

.headerNavigation {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
  }
}

.footerNavigation {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }
}
