@import '../../styles/main';
.header {
  display: flex;
  height: 72px;
  background-color: grey;
  
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-inline: 24px ;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
