@import '../../styles/main';

.sidebar {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;

  &__list {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  gap: 32px;
}
}
