@use '../../styles/main.scss';
@use "../../styles/mixin" as *;

.filter {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: auto;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease, z-index 0s linear 0.3s; 
  
  &--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease, z-index 0s linear;
  
  }
  
  @include on-desktop {
    display: grid;
    grid-column: span 3;
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: none;
    z-index: auto;
    padding: 0;
  }
}

.arrowDown {
  background-image: url(../../assets/icon/arrow-down.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  background-position: center;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  cursor: pointer;

    &--active {
      transform: rotate(180deg);
    }
  }

.sidebar {
  overflow-y: auto;
  z-index: 10;
}

.filterForMob {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  .arrowDown {
    position: absolute;
    left:0;
    transform: rotate(90deg);
  }

  &__text {
    text-align: center;
    flex: 1;
  }

  @include on-desktop {
    display: none;
  }
}

.yourChoice {
  display: flex;
  justify-content: space-between;
}

.reset {
  text-decoration: underline;
}

.simpleAccordion{
  width: 100%;
  column-gap: 16px;
  padding-bottom: 24px;
}

.accordionControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-block: 16px;
  border-bottom: 1px solid #ccc;
  
  &--active {
    flex-wrap: nowrap;
  }

  &__text {
    flex-grow: 1;
  }
}
.filterGroup {
  width: 100%;
  padding-block: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 120px;
  overflow-y: auto;
}

.filterTag{
  cursor: pointer;
  display: flex;
  flex-direction: column;
 
  padding: 10.5px 16px;
  border: 1px solid #ccc;

  &:hover {
    background: #ccc;
  }

  &--active {
    background-color: green;
  }
}

.button {
  height: 44px;
  width: 100%;

  &:hover {
    background-color: #ccc;
  }
}