.filterBtn {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 16px;
    line-height: 19.36px;
  }
}

.arrowDown {
  background-image: url(../../assets/icon/arrow-down.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    background-position: center;
    transition: transform 0.3s ease;

    &--active {
      transform: rotate(180deg);
    }
  }

.modal {
  position: absolute;
  top: 243px;
  background-color: gray;
  padding: 16px;
  max-height: 579px;
  width: 432px;
  overflow-y: auto;
}

.simpleAccordion{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}

.accordionControl {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-block: 16px;
  border-bottom: 1px solid #ccc;
  width: 192px;
  
  &--active {
    width: 400px;
    flex-shrink: 0;
    flex-wrap: nowrap;
  }
}
.filterGroup {
  width: 100%;
  padding-block: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 120px;
  overflow-y: auto;
}

.filterTag{
  cursor: pointer;
  display: flex;
  flex-direction: column;
 
  padding: 10.5px 16px;
  border: 1px solid #ccc;
}